body{
    background-color: #EDF2F4;
}

header{
    background-color: #2B2D42;

}

/*makes Jeremiah Aguilar Centered*/
h1{
    text-align: center;
    background-color: #8D99AE;
}
/*makes all anchor tags white*/

a { 
    color: white; 

} 


ul {
    /*???*/
    display: flex;
    /*makes it in a row needed?
    flex-direction: row; */
    /*centers*/
    justify-content: center;
    /*makes dots disappear*/
    list-style-type: none;
    background-color: #2B2D42;
    }

li {

    margin-left:  15px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 23px;

}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #232535;
}
.size{
    width: 80px;
    height: 80px;
    padding-left: 60px;
}

.contact1 {
    padding-left: 60px;
}
.contact2 {
    padding-left: 45px;
}
.contact3 {
    padding-left: 55px;
}

.center {
display: flex;
justify-content: center;
}

.resize{
    width: 100px;
    height: 100px;
    margin-left: 200px;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(20, 139, 155, 0.2);
    transition: 0.3s;
    width: 15%;
    display: inline-block;
    margin-left: 60px;
}

.box:hover {
    box-shadow: 0 8px 16px 0 rgb(23, 165, 175);
}

.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}



/*
.box1{
    display: flex;
    flex-direction: row;
    align-items: center;

    border: solid 1px black;
    width: 10em;
    height: 10em;
    margin: 10px 10px;
}
.box2{
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
    border: solid 1px black;
    width: 10em;
    height: 10em;
    margin: 10px 10px;

}
.box3{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px black;
    width: 10em;
    height: 10em;
    margin: 10px 10px;

}